.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
vsc-extension-quickstart.md
node_modules/
!node_modules/typescript/
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{semver,lru-cache,yallist}/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!server/node_modules/**
**/src/
*.code-workspace
**/tsconfig.json
**/package*.json
**/README.md
